.puzzle {
    width:300px;
    height:300px;
    margin: auto;
    border: 50px solid green;
}

div #piece1 {
    background-image: url("../images/puzzle.jpeg");
    background-position:left top;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece2 {
    background-image: url("../images/puzzle.jpeg");
    background-position:center top;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece3 {
    background-image: url("../images/puzzle.jpeg");
    background-position:right top;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece4 {
    background-image: url("../images/puzzle.jpeg");
    background-position:center left;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece5 {
    background-image: url("../images/puzzle.jpeg");
    background-position:center center;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece6 {
    background-image: url("../images/puzzle.jpeg");
    background-position:center right;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece7 {
    background-image: url("../images/puzzle.jpeg");
    background-position:left bottom;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece8 {
    background-image: url("../images/puzzle.jpeg");
    background-position:center bottom;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece9 {
    background-image: url("../images/puzzle.jpeg");
    background-position:right bottom;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #arrow_right_top {
    position:absolute;
    top: 100px;
    left: 845px;
    border-radius: 50%;
}

div #arrow_right_middle {
    position:absolute;
    top: 200px;
    left: 845px;
    border-radius: 50%;
}

div #arrow_right_bottom {
    position:absolute;
    top: 300px;
    left: 845px;
    border-radius: 50%;
}


div #arrow_left_top {
    position: absolute;
    top: 100px;
    left: 495px;
    border-radius: 50%;
}

div #arrow_left_middle {
    position: absolute;
    top: 200px;
    left: 495px;
    border-radius: 50%;
}

div #arrow_left_bottom {
    position: absolute;
    top: 300px;
    left: 495px;
    border-radius: 50%;
}

div #arrow_top_left {
    position: absolute;
    top: 25px;
    left: 575px;
    border-radius: 50%;
}

div #arrow_top_middle {
    position: absolute;
    top: 25px;
    left: 675px;
    border-radius: 50%;
}

div #arrow_top_right {
    position: absolute;
    top: 25px;
    left: 775px;
    border-radius: 50%;
}

div #arrow_bottom_left {
    position: absolute;
    top: 375px;
    left: 575px;
    border-radius: 50%;
}

div #arrow_bottom_middle {
    position: absolute;
    top: 375px;
    left: 675px;
    border-radius: 50px;
}

div #arrow_bottom_right {
    position: absolute;
    top: 375px;
    left: 775px;
    border-radius: 50%;
}
