body {
    background-color: red;
}

.puzzle {
    width:300px;
    height:300px;
    margin: auto;
    border: 50px solid green;
}

div #piece1 {
    background-image: url("../images/puzzle.jpg");
    background-position:left top;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece2 {
    background-image: url("../images/puzzle.jpg");
    background-position:center top;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece3 {
    background-image: url("../images/puzzle.jpg");
    background-position:right top;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece4 {
    background-image: url("../images/puzzle.jpg");
    background-position:center left;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece5 {
    background-image: url("../images/puzzle.jpg");
    background-position:center center;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece6 {
    background-image: url("../images/puzzle.jpg");
    background-position:center right;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece7 {
    background-image: url("../images/puzzle.jpg");
    background-position:left bottom;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece8 {
    background-image: url("../images/puzzle.jpg");
    background-position:center bottom;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

div #piece9 {
    background-image: url("../images/puzzle.jpg");
    background-position:right bottom;
    width:100px;
    height:100px;
    visibility: visible;
    float: left;
}

.arrow {
    margin: 20px;
}

div #arrow_right_top {
    position:absolute;
    top: 175px;
    left: 845px;
    color: white;
    background-color: red;
}

div #arrow_right_middle {
    position:absolute;
    top: 275px;
    left: 845px;
    color: white;
    background-color: red;
}

div #arrow_right_bottom {
    position:absolute;
    top: 375px;
    left: 845px;
    color: white;
    background-color: red;
}


div #arrow_left_top {
    position: absolute;
    top: 175px;
    left: 495px;
    color: white;
    background-color: red;
}

div #arrow_left_middle {
    position: absolute;
    top: 275px;
    left: 495px;
    color: white;
    background-color: red;
}

div #arrow_left_bottom {
    position: absolute;
    top: 375px;
    left: 495px;
    color: white;
    background-color: red;
}

div #arrow_top_left {
    position: absolute;
    top: 95px;
    left: 575px;
    color: white;
    background-color: red;
}

div #arrow_top_middle {
    position: absolute;
    top: 95px;
    left: 675px;
    color: white;
    background-color: red;
}

div #arrow_top_right {
    position: absolute;
    top: 95px;
    left: 775px;
    color: white;
    background-color: red;
}

div #arrow_bottom_left {
    position: absolute;
    top: 445px;
    left: 575px;
    color: white;
    background-color: red;
}

div #arrow_bottom_middle {
    position: absolute;
    top: 445px;
    left: 675px;
    color: white;
    background-color: red;
}

div #arrow_bottom_right {
    position: absolute;
    top: 445px;
    left: 775px;
    color: white;
    color: white;
    background-color: red;
}


.heading {
    text-align: center;
}