{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}


{% block content %}
    <div>
        <input id="arrow_right_top" type="button" name="arrow_right_top" value=">">
    </div>
    <div>
        <input id="arrow_right_middle" type="button" name="arrow_right_middle" value=">">
    </div>
    <div>
        <input id="arrow_right_bottom" type="button" name="arrow_right_top" value=">">
    </div>
    <div>
        <input id="arrow_left_top" type="button" name="arrow_left_top" value="<">
    </div>
    <div>
        <input id="arrow_left_middle" type="button" name="arrow_left_middle" value="<">
    </div>
    <div>
        <input id="arrow_left_bottom" type="button" name="arrow_left_bottom" value="<">
    </div>
    <div>
        <input id="arrow_top_left" type="button" name="arrow_top_left" value="^">
    </div>
    <div>
        <input id="arrow_top_middle" type="button" name="arrow_top_middle" value="^">
    </div>
    <div>
        <input id="arrow_top_right" type="button" name="arrow_top_right" value="^">
    </div>
    <div>
        <input id="arrow_bottom_left" type="button" name="arrow_bottom_left" value="v">
    </div>
    <div>
        <input id="arrow_bottom_middle" type="button" name="arrow_bottom_middle" value="v">
    </div>
    <div>
        <input id="arrow_bottom_right" type="button" name="arrow_bottom_right" value="v">
    </div>
    <div class="puzzle"></div>
{% endblock %}