{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}


{% block content %}
    <div class="puzzle">
        <div id="piece1"></div>
        <div id="piece2"></div>
        <div id="piece3"></div>
        <div id="piece4"></div>
        <div id="piece5"></div>
        <div id="piece6"></div>
        <div id="piece7"></div>
        <div id="piece8"></div>
        <div id="piece9"></div>
    </div>
{% endblock %}
